{
  "presets": [
    [
      "@babel/preset-env", {
          "targets": {
            "node": "current"
          },
          "debug": true
      },
      "@babel/preset-typescript"
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
  ]
}
